/****************
General
****************/

body {
  font-family: Georgia, sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Indie Flower', Georgia, sans-serif;
  margin-top: 0;
}

/****************
Heading
****************/

header {
  text-align: center;
}

/****************
Colors
****************/

body {
  background: #b3b3cc; /* Fallback for older browsers */
  background: linear-gradient(to left, #c2c2d6, #9494b8);
  color: #333;
}

header {
  background: rgba(230, 230, 230, 0.4);
}
