/****************
General
****************/
body {
  font-family: Georgia, sans-serif;
}

#wrapper {
  max-width: 950px;
  margin: 0 auto;
}

/****************
Heading
****************/
.header {
  font-family: 'Neuton';
  text-align: center;
}

/****************
#wrapper,
.sectionOne
****************/
#wrapper {
  font-size: 1.2em;
}

.sectionOne {
  padding: 0.1px 8px;
}

/****************
.anAside
****************/
.anAside {
  font-size: .3em;
}

/****************
Colors
****************/

body {
  background: #b3b3cc; /* Fallback for older browsers */
  background: linear-gradient(to left, #c2c2d6, #9494b8);
  color: #333;
}

.header {
  background: rgba(230, 230, 230, 0.4);
  border-top: 1px solid #1A1A56;
  border-bottom: 1px solid #1A1A56;
}

#wrapper section {
  background: rgba(211, 211, 211, .9);
}
