/****************
General
****************/
body {
  font-family: Georgia, sans-serif;
  font-size: 1em;
}

#wrapper {
  max-width: 950px;
  margin: 0 auto;
}

p {
  line-height: 1.4;
}

/****************
Heading
****************/
.header {
  font-family: 'Neuton';
  text-align: center;
  text-shadow: 2px 5px 20px #222;
}

/****************
#wrapper,
.sectionOne,
button & input
*****************/
#wrapper {
  font-size: 1.2em;
}

.sectionOne {
  padding: 0.1px 8px 8px;
}

.styleButton {
  padding: 2px;
  width: 70px;
}

.styleInput {
  padding: 2px;
  width: 100px;
  background: lightgray;
}

/****************
.anAside
****************/
.anAside {
  font-size: .3em;
}

/****************
Colors
****************/

body {
  background: #b3b3cc; /* Fallback for older browsers */
  background: linear-gradient(to left, #61456A, #9494b8);
  color: #333;
}

.header {
  background: rgba(230, 230, 230, 0.4);
  border-top: 1px solid #1A1A56;
  border-bottom: 1px solid #1A1A56;
}

#wrapper section {
  background: rgba(211, 211, 211, .5);
}
